@switch (pageLayoutService.layout | async) {  
      @case (PageLayout.Authorized)
      {
          <authorized-layout>
              <router-outlet />
          </authorized-layout>
      }

      @case (PageLayout.Unauthorized)
      {
          <unauthorized-layout-material>
              <router-outlet />
          </unauthorized-layout-material>
      }

      @case (PageLayout.Error)
      {
          <authorized-layout>
              <router-outlet />
          </authorized-layout>
      }

      @default
      {
          <unauthorized-layout-material>
              <router-outlet />
          </unauthorized-layout-material>
      }
  }