<div class="board-page-content">
  <div class="header-panel">
      <form [formGroup]="newBoardForm" (submit)="AddBoard()">
        <label htmlFor="board">New Board:</label>
        <input class="new-board-input"
                type="text" 
                placeholder="Board..." 
                id="board" 
                autoComplete='off'
                formControlName="boardTitle"/>
        <button class="btn">Add Board</button>
    </form>
    </div>

  @for (board of boards; track board.id)
  {
    <board [board]=board (deleteBoardEvent)="DeleteBoard($event)"></board>
  }

</div>