<div class="board-page">
  <div class="board-page-header">
    <div class="board-page-header-title">
      <h1>Boards</h1>
    </div>

    <div class="board-page-header-panel">
      <form [formGroup]="newBoardForm" (submit)="AddBoard()">
        <label htmlFor="board">New Board:</label>
        <input class="new-board-input"
                type="text" 
                placeholder="Board..." 
                id="board" 
                autoComplete='off'
                formControlName="boardTitle"/>
        <button class="btn">Add Board</button>
    </form>
    </div>
  </div>

  @for (board of boards; track board.id)
  {
    <board [board]=board (deleteBoardEvent)="DeleteBoard($event)"></board>
  }

</div>

<router-outlet />
