<div class="flex items-stretch md:items-center justify-stretch md:justify-center">
  <div class="w-full h-dvh md:h-full md:w-1/2 md:mt-10">
    <form [formGroup]="signUpForm" (ngSubmit)="SignUp()" class="h-full">
      <mat-card appearance="outlined" class="h-full">
        <mat-card-content>
          <div class="">
            <img ngSrc="https://ui.angular-material.dev/app-ui/logo.svg" alt="Logo" height="48" width="48"
              class="inline" />
            <h1 class="text-3xl">Sign up</h1>
            <p>to continue</p>

            <div>
              <mat-form-field appearance="fill" class="w-full" subscriptSizing="dynamic">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email" />
              </mat-form-field>
              @if ((signUpForm.get('email')?.touched || signUpForm.get('email')?.dirty) &&
              signUpForm.get('email')?.hasError('required')) {
              <mat-error>
                Email is required
              </mat-error>
              }
              @if ((signUpForm.get('email')?.touched || signUpForm.get('email')?.dirty) &&
              signUpForm.get('email')?.hasError('email')) {
              <mat-error>
                Email is invalid
              </mat-error>
              }
            </div>
            <div class="mt-2">
              <mat-form-field appearance="fill" class="w-full" subscriptSizing="dynamic">
                <mat-label>Username</mat-label>
                <input matInput type="username" formControlName="username" />
              </mat-form-field>
              @if ((signUpForm.get('username')?.touched || signUpForm.get('username')?.dirty) &&
              signUpForm.get('username')?.hasError('required')) {
              <mat-error>
                Username is required
              </mat-error>
              }
            </div>
            <div class="mt-2">
              <mat-form-field appearance="fill" class="w-full" subscriptSizing="dynamic">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide() ? 'password' : 'text'" formControlName="password" />
                <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide()" type="button">
                  <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
              @if ((signUpForm.get('password')?.touched || signUpForm.get('password')?.dirty) &&
              signUpForm.get('password')?.hasError('required')) {
              <mat-error>
                Password is required</mat-error>
              }
              @if ((signUpForm.get('password')?.touched || signUpForm.get('password')?.dirty) &&
              signUpForm.get('password')?.hasError('minlength')) {
              <mat-error>
                Password must be at least 8 characters
              </mat-error>
              }
            </div>
            <div class="mt-2">
              <mat-form-field appearance="fill" class="w-full" subscriptSizing="dynamic">
                <mat-label>Repeat password</mat-label>
                <input matInput [type]="hide() ? 'password' : 'text'" formControlName="passwordRepeated" />
                <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide()" type="button">
                  <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
              @if ((signUpForm.get('passwordRepeated')?.touched || signUpForm.get('passwordRepeated')?.dirty) &&
              signUpForm.get('passwordRepeated')?.hasError('required')) {
              <mat-error>
                Password is required</mat-error>
              }
              @if ((signUpForm.get('passwordRepeated')?.touched || signUpForm.get('passwordRepeated')?.dirty) &&
              signUpForm.get('passwordRepeated')?.hasError('minlength')) {
              <mat-error>
                Password must be at least 8 characters
              </mat-error>
              }
            </div>

            <button mat-button type="button" (click)="GoToLogIn()">Go to Sign in form</button>
          </div>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-flat-button type="submit">Sign up</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>

<router-outlet />