<div class="board-page">
  <div class="board-page-header">

        <div class="outer-center">
            <div class="form-row-board-page">
                <label htmlFor="board">New Board:</label>
                <input class="new-board-input"
                       type="text" 
                       placeholder="Board..." 
                       id="board" 
                       autoComplete='off'/>
            </div>
        </div>
        <div class="outer-center">
            <button class="btn">Add Board</button>
        </div>

      <div class="outer-center">
          <h1>Boards</h1>
      </div>
  </div>

  <ul>
      <li>Board Stub</li>
  </ul>

</div>

<router-outlet />
