<div>
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{column().title}}</mat-card-title>
      </mat-card-title-group>
      <button mat-mini-fab type="button" (click)="DeleteColumn()">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content>
      <div class="flex-row justify-between mt-2">
        <form [formGroup]="newCardForm" (submit)="AddCard()">
          <label htmlFor="column">New Card:</label>
          <input class="ml-10" type="text" placeholder="Column..." id="column" autoComplete='off'
            formControlName="cardTitle" />
          <button mat-mini-fab type="submit">
            <mat-icon>add</mat-icon>
          </button>
        </form>
      </div>
      <div cdkDropList [id]="column().id.toString()" [cdkDropListData]="column().cards"
        (cdkDropListDropped)="drop($event)">
        @if (column().cards.length == 0)
        {
          <div class="h-10"></div>
        }
        @for (card of column().cards; track card.id)
        {
          <div class="mt-5">
            <card-material [card]=card (deleteCardEvent)="DeleteCard($event)" cdkDrag [cdkDragData]="card"></card-material>
          </div>
        }
      </div>
    </mat-card-content>
  </mat-card>
</div>