<div class="board">
  <div class="board-header">
    <div class="board-header-title">
      {{board().title}}
      <button class="btn danger" (click)="DeleteBoard()">X</button>
    </div>
  
    <div class="board-header-panel">
      <label htmlFor="column">New Column:</label>
  
      <form [formGroup]="newColumnForm" (submit)="AddColumn()">
        <input
          class="new-column-input"
          type="text"
          placeholder="Column..."
          id="column"
          autoComplete='off'
          formControlName="columnTitle"/>
        <button class="btn">+</button>
      </form>
    </div>
  </div>

  <div class="board-content" cdkDropListGroup>
  @for (column of board().columns; track column.id)
  {
    <column [column]=column (deleteColumnEvent)="DeleteColumn($event)"></column>
  }
  </div>
</div>

<router-outlet />
