<div>
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{board().title}}</mat-card-title>
      </mat-card-title-group>
      <button mat-mini-fab type="button" (click)="DeleteBoard()">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content>
      <div class="flex-row justify-between">
        <form [formGroup]="newColumnForm" (submit)="AddColumn()">
          <label htmlFor="column">New Column:</label>
          <input class="ml-10" type="text" placeholder="Column..." id="column" autoComplete='off'
            formControlName="columnTitle" />
          <button mat-mini-fab type="submit">
            <mat-icon>add</mat-icon>
          </button>
        </form>
      </div>
      <div class="flex flex-row" cdkDropListGroup>
        @for (column of board().columns; track column.id)
        {
          <div>
            <column [column]=column (deleteColumnEvent)="DeleteColumn($event)"></column>
          </div>
        }
      </div>
    </mat-card-content>
  </mat-card>
</div>