<div>
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{board().title}}</mat-card-title>
      </mat-card-title-group>
      <button mat-mini-fab type="button" (click)="AddColumn()">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-mini-fab class="ml-2" type="button" (click)="OpenDetails()">
        <mat-icon>details</mat-icon>
      </button>
      <button mat-mini-fab class="ml-2" type="button" (click)="DeleteBoard()">
        <mat-icon>delete_forever</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content>
      <div class="flex flex-row overflow-x-auto" cdkDropListGroup>
        @for (column of board().columns; track column.id)
        {
          <div class="mt-5 mr-2">
            <column [column]=column (deleteColumnEvent)="DeleteColumn($event)"></column>
          </div>
        }
      </div>
    </mat-card-content>
  </mat-card>
</div>
