<div class="w-80 flex-shrink-0">
  <mat-card appearance="outlined" [style.background-color]="columnBackground()">
    <mat-card-header class="flex items-center justify-between p-4">
      <mat-card-title-group class="flex-1">
        <mat-card-title>{{column().title}}</mat-card-title>
      </mat-card-title-group>

      <button mat-icon-button (click)="toggleCollapse()" [attr.aria-label]="isCollapsed() ? 'Expand' : 'Collapse'" class="mr-2">
        <mat-icon>{{ isCollapsed() ? 'expand_more' : 'expand_less' }}</mat-icon>
      </button>

      <button mat-icon-button [matMenuTriggerFor]="actionsMenu" aria-label="Column actions">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #actionsMenu="matMenu">
        <button mat-menu-item (click)="AddCard()">
          <mat-icon>add</mat-icon>
          <span>Add new Entry</span>
        </button>
        <button mat-menu-item (click)="DeleteColumn()" class="text-red-600">
          <mat-icon>delete_forever</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
    </mat-card-header>

    @if (!isCollapsed()) {
      <mat-card-content>
        <div class="column-scroll max-h-150 overflow-y-auto pr-1" #scrollContainer>
          <div class="top-new-card" [style.background-color]="columnBackground()">
            <new-card variant="thin" [statusName]="column().title" (expanded)="scrollToTop()" (create)="addCardAtTop($event)"></new-card>
          </div>
          <div cdkDropList [id]="column().id.toString()" [cdkDropListData]="column().cards"
            (cdkDropListDropped)="drop($event)">
            @if (column().cards.length == 0)
            {
              <div class="h-10"></div>
            }
            @for (card of column().cards; track card.id)
            {
              <div [class.mt-2]="$first" [class.mt-5]="!$first">
                <card [card]=card [boardColumns]="boardColumns()" (deleteCardEvent)="DeleteCard($event)" (updateCardEvent)="cardUpdatedEvent.emit($event)" cdkDrag [cdkDragData]="card"></card>
              </div>
            }
          </div>
          <div class="mt-5">
            <new-card variant="placeholder" [statusName]="column().title" (create)="addCardAtBottom($event)"></new-card>
          </div>
        </div>
      </mat-card-content>
    }
  </mat-card>
</div>
