.column
{
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px 5px 5px 5px;
    background: ghostwhite;
    box-shadow: 2px 2px 2px black;
    width: 300px;
}

.column-header
{
    border-bottom: 1px solid black;
}

.column-header-title
{
    margin: 5px;
    display: flex;
    justify-content: space-between;
}

.column-header-title .btn
{
    margin: 5px;
}

.column-header-panel
{
    display: flex;
    margin: 5px;
}

.column-content
{
    min-height: 30px;
}