<div class="column">
  <div class="column-header">
    <div class="column-header-title">
      {{column().title}}
      <button class="btn danger" (click)="DeleteColumn()">X</button>
    </div>
  
    <div class="column-header-panel">
      <label htmlFor="column">New Card:</label>

      <form [formGroup]="newCardForm" (submit)="AddCard()">
        <input
          class="new-card-input"
          type="text"
          placeholder="Card..."
          id="card"
          autoComplete='off'
          formControlName="cardTitle"/>
        <button class="btn">+</button>
      </form>
    </div>
  </div>

  <div class="column-content"
       cdkDropList
       [id]="column().id.toString()"
       [cdkDropListData]="column().cards"
       (cdkDropListDropped)="drop($event)">
    @for (card of column().cards; track card.id)
    {
      <card [card]=card (deleteCardEvent)="DeleteCard($event)" cdkDrag [cdkDragData]="card"></card>
    }
  </div>
</div>

<router-outlet />
