<div>
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{column().title}}</mat-card-title>
      </mat-card-title-group>
      <button mat-mini-fab class="ml-2" type="button" (click)="AddCard()">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-mini-fab class="ml-2" type="button" (click)="DeleteColumn()">
        <mat-icon>delete_forever</mat-icon>
      </button>
    </mat-card-header>
    <mat-divider class="divider-with-margin"></mat-divider>
    <mat-card-content>
      <div cdkDropList [id]="column().id.toString()" [cdkDropListData]="column().cards"
        (cdkDropListDropped)="drop($event)"
        class="max-h-150 overflow-y-auto">
        @if (column().cards.length == 0)
        {
          <div class="h-10"></div>
        }
        @for (card of column().cards; track card.id)
        {
          <div class="mt-5">
            <card [card]=card (deleteCardEvent)="DeleteCard($event)" cdkDrag [cdkDragData]="card"></card>
          </div>
        }
      </div>
    </mat-card-content>
  </mat-card>
</div>
